# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
ENV/

# IDE / editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
dist/
build/

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

HW_10_01_bookstore/.env_docker