{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>New Order | BookStore</title>
    <link rel="stylesheet" href="{% static 'shop/css/style.css' %}">
</head>

<body>

<header class="header">
    <h1>BookStore</h1>

    <nav class="nav">
        <a href="{% url 'shop:main_page' %}">Home</a>
        <a href="{% url 'order:order_list' %}">Orders</a>
        <a href="{% url 'shop:books_list' %}">Books</a>
        <a href="{% url 'shop:authors_list' %}">Authors</a>
        <a href="{% url 'order:new_order' %}">New Order</a>
    </nav>
</header>

<main class="container">

    <section class="block">
      


    </section>

</main>

</body>
</html>