<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
</head>
<body>

<h1>Main Page</h1>

<h2>Menu</h2>

<a href="{% url 'main_page' %}">Home</a> |
<a href="{% url 'order_list' %}">Orders</a> |
<a href="{% url 'books_list' %}">Books<a/> |
<a href="{%url 'authors_list' %}">Authors<a/>|
<a href="{% url 'new_order' %}">New Order</a>


<h2>Top Books</h2>
<ul>
    {% for book in top_books %}
        <li>{{ book.title }} - {{ book.avg_rating }}</li>
    {% endfor %}
</ul>

<h2>New Books</h2>
<ul>
    {% for book in new_books %}
        <li>{{ book.title }}</li>
    {% endfor %}
</ul>

<h2>Popular Books</h2>
<ul>
    {% for book in popular_books %}
        <li>{{ book.title }} - {{ book.reviews_count }}</li>
    {% endfor %}
</ul>

<h2>Top Authors</h2>
<ul>
    {% for author in top_authors %}
        <li>{{ author.first_name }} {{ author.last_name }} - {{ author.books_count }}</li>
    {% endfor %}
</ul>


</body>
</html>