{% extends "base.html" %}

{% block title %}
{{ book.title }} | BookStore
{% endblock %}

{% block content %}

<h2>{{ book.title }}</h2>

<div class="card mt-3">
    <div class="card-body">

        <p>
            <strong>ISBN:</strong> {{ book.isbn }}
        </p>

        {% if perms.shop.view_wholesale_price %}
            <p>
                <strong>Retail Price:</strong>
                {{ book.price }} UAH
            </p>

            <p>
                <strong>Wholesale Price:</strong>
                {{ book.wholesale_price }} UAH
            </p>
        {% else %}
            <p>
                <strong>Price:</strong>
                {{ book.price }} UAH
            </p>
        {% endif %}
        <p>
            <strong>Average Rating:</strong>
            {{ book.calculated_avg_rating }}
        </p>

        <p>
            <strong>Description:</strong>
        </p>

        <p>
            {{ book.description }}
        </p>

        {% if user.is_authenticated %}
            <a href="{% url 'shop:add_feedback' book.pk %}"
               class="btn btn-dark">
                Add Feedback
            </a>
        {% else %}
            <p class="text-muted mt-3">
                Login to leave feedback.
            </p>
        {% endif %}

        {% if user.is_authenticated %}

            <form method="post"
                action="{% url 'order:add_to_cart' book.id %}"
                class="d-inline">

                {% csrf_token %}

                <input type="hidden"
                    name="next"
                    value="{{ request.get_full_path }}">

                <button type="submit"
                        class="btn btn-dark btn-sm">
                    Add to Cart
                </button>

            </form>

        {% else %}

            <span class="text-muted small">
                Login to order
            </span>

        {% endif %}

    </div>
</div>

<h3 class="mt-4">Feedback</h3>

{% for rating in book.ratings.all %}

    <div class="card mt-3">
        <div class="card-body">

            <div class="d-flex justify-content-between align-items-center">

                <strong>{{ rating.user.username }}</strong>

                <span class="badge bg-dark">
                    {{ rating.rating }}/5
                </span>

            </div>

            {% if rating.feedback %}
                <p class="mt-3 mb-3">
                    {{ rating.feedback }}
                </p>
            {% endif %}

            {% if user.is_authenticated and user == rating.user %}
                <a href="{% url 'shop:update_feedback' rating.pk %}"
                   class="btn btn-outline-dark btn-sm">
                    Edit Feedback
                </a>
                <a href="{% url 'shop:delete_feedback' rating.pk %}"
                    class="btn btn-outline-danger btn-sm">
                    Delete Feedback
                </a>
            {% endif %}

        </div>
    </div>

{% empty %}

    <div class="alert alert-light border mt-3">
        There is no feedback yet
    </div>

{% endfor %}

<div class="mt-4">
    <a href="{% url 'shop:books_list' %}"
       class="btn btn-secondary">
        ← Back to Books
    </a>
</div>

{% endblock %}