<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>About</title>
</head>

<body>

<nav>
    <a href="/">Home</a>
    <a href="/menu">Menu</a>
    <a href="/orders">Orders</a>
</nav>

<main>

    <h1>☕ Coffee &amp; 🍰 Cheesecake</h1>

    <p>
        Welcome to our cozy place where we serve only coffee and cheesecakes.
    </p>

    <h2>What we offer:</h2>

    <ul>
        <li>☕ Coffee</li>
        <li>🍰 Cheesecakes</li>
    </ul>

</main>

</body>
</html>